#head2 {
  color: yellowgreen;
}

#header {
  text-align: center;
  font-size: 200%;
}

.header2 {
  font-size: 300%;
}

#nav {
  margin-top: 40px;
}

.navList {
  list-style-type: none;
}

#main {
  margin-left: 30px;
}

#grid {
  display: grid;
  grid-template-columns: 250px 1fr;
}

#footer {
  text-align: center;
  font-weight: bolder;
  margin-top: 50px;
}
